@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* white foreground */
  --background-start-rgb: 34, 139, 34; /* forest green background */
  --background-end-rgb: 34, 139, 34; /* same color, since it doesn't need to change */
  --font-family: 'Georgia', 'Times New Roman', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* white foreground in dark mode */
    --background-start-rgb: 0, 0, 0; /* black background in dark mode */
    --background-end-rgb: 0, 0, 0; /* same color, since it doesn't need to change */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: var(--font-family);
}

#calendar {
  max-width: 1100px;
  margin: 40px auto;
}