@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&family=Playfair:opsz,wght@5..1200,600;5..1200,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

:root {
  --foreground: #252525;
  --background: 255, 255, 255;
  --fc-page-bg-color: rgba(0, 0, 0, 0); /* fixes weird white border around events */
  --fc-border-color: #a8a6a6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255; /* white foreground in dark mode */
    --background: 0, 0, 0; /* black background in dark mode */
     
  }
}

.fc-event-title {
  font-family: 'Oswald', sans-serif !important;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 1em;
  font-size: 0.7rem;
}

.fc-timegrid-event .fc-event-main {
  padding: 3px;
}

.fc-daygrid-block-event .fc-event-time, .fc-daygrid-block-event .fc-event-title {
  padding-left: 3px;
}

.fc .fc-timegrid-slot-minor {
  border-top-style: dashed;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: 'Oswald', sans-serif; 
}

